<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List cat</title>
</head>
<body>
<h2>Cars:</h2>
<table border="1">
    <tr>
        <td>Id</td>
        <td>Year</td>
        <td>Model</td>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.id}"></td>
        <td th:text="${car.year}"></td>
        <td th:text="${car.model}"></td>
    </tr>
</table>
<p>
<a href="/cars/show-car-by-model-jymper">Показать авто модели Jymper</a>
<p>
<a href="/cars/show-car-after-2000">Показать авто после 2000 г.в.</a>
<p>
<a href="/cars/show-car-in-year-interval-and-model">Показать авто модели Caddy с промежутком г.в. с 1998 по 2005</a>
<p>
<form method="get" action="/cars/show-car-by-part-name">
    <label for="pattern">Показать авто по части названия модели</label>
    <input name="pattern" type="text" id="pattern">
    <input type="submit" value="Show">
</form>
<p>
<form method="get" action="/cars/show-car-younger-year">
    <label for="year">Показать авто после выбранного г.в.</label>
    <input name="year" type="number" id="year" value="0">
    <input type="submit" value="Show">
</form>
</body>
</html>