<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show All</title>
</head>
<body>
<h2>Users:</h2>
<table border="1">
    <tr>
        <td>id</td>
        <td>Name</td>
        <td>Age</td>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td><a th:href="@{users/user-info/{id}(id=${user.id})}">Show user info</a></td>
        <td><a th:href="@{users/update-user/{id}(id=${user.id})}">Edit</a></td>
        <td><a th:href="@{users/delete-user/{id}(id=${user.id})}">Delete</a></td>
    </tr>
</table>
<a href="new-user">Create new user</a>
</body>
</html>