<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create car</title>
</head>
<body>
<form action="#" th:action="@{save}" th:object="${car}" method="post">
    <label for="year">year</label>
    <input type="number" th:field="*{year}" id="year" placeholder="year">
    <label for="model">model</label>
    <input type="text" th:field="*{model}" id="model" placeholder="model">
    <label for="engineVolume">Engine volume</label>
    <input type="number" th:field="*{engineVolume}" id="engineVolume" placeholder="engineVolume">
    <label th:field="*{transmission}">transmission</label>
    <select name="transmission" id="transmission">
        <option value="awd">Полный привод</option>
        <option value="rwd">Задний привод</option>
        <option value="fwd">Передний привод</option>
    </select>
    <label for="price">price</label>
    <input type="number" th:field="*{price}" id="price" placeholder="price">
    <label th:field="*{bodyType}">body type</label>
    <select name="bodyType" id="bodyType">
        <option value="sedan">Седан</option>
        <option value="universal">Универсал</option>
        <option value="truck">Грузовик</option>
    </select>
    <label for="vin">vin</label>
    <input type="text" th:field="*{vin}" id="vin" placeholder="vin">

    <input type="submit" value="Add car">
</form>
</body>
</html>