<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>List cat</title>
</head>
<body>
 <h3 style="color: green" th:text="${message}"></h3>
<h2>Cars:</h2>
<table border="1">
    <tr>
        <td>Id</td>
        <td>Year</td>
        <td>Model</td>
        <td>Volume</td>
        <td>Transmission</td>
        <td>Price</td>
        <td>Body type</td>
        <td>Vin number</td>
        <td>Create time</td>
        <td>Service info</td>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.id}"></td>
        <td th:text="${car.year}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.volume}"></td>
        <td th:text="${car.transmission}"></td>
        <td th:text="${car.price}"></td>
        <td th:text="${car.bodyType}"></td>
        <td th:text="${car.vin}"></td>
        <td th:text="${car.creationAt}"></td>
        <td th:text="${car.innerCode}"></td>

    </tr>
</table>

<p>
    <a href="/cars/new">Создать авто</a>
<p>
    <a href="/cars/show-after-2000">Показать авто после 2000 г.в.</a>
<p>

<form method="get" action="/cars/show-by-part-name">
    <label for="pattern">Показать авто по части названия модели</label>
    <input name="pattern" type="text" id="pattern">
    <input type="submit" value="Show">
</form>
<p>
<form method="get" action="/cars/show-younger-year">
    <label for="year">Показать все авто старше выбранного г.в.</label>
    <input name="year" type="number" id="year" value="2000">
    <input type="submit" value="Show">
</form>
<p>
<form method="get" action="/cars/show-by-year">
    <label for="year1">Показать авто выбранного г.в.</label>
    <input name="year" type="number" id="year1" value="2000">
    <input type="submit" value="Show">
</form>
<p>
    <a href="/cars/show-all-sorted-by-year">Показать все авто с сортировкой по г.в.</a>
<p>
    <a href="/cars/show-price-all-by-transmission-type">Показать стоимость всех авто по типу привода</a>
<p>
    <a href="/cars/show-by-transmission-type">Показать авто по типу привода</a>
<p>
    <a href="/cars/show-by-volume">Показать авто по объёму</a>

<form method="get" action="/cars/show-by-transmission-type-with-native-query">
    <label for="tr_type">Показать авто по типу трансмиссии (native query)</label>
    <select name="tr_type" id="tr_type">
        <option value="awd">Полный привод</option>
        <option value="rwd">Задний привод</option>
        <option value="fwd">Передний привод</option>
    </select>
    <input type="submit" value="Show">
</form>

<p>
<form method="get" action="/cars/delete-by-id">
    <label for="year1">Удалить авто по id</label>
    <input name="id" type="number" id="id" value="1">
    <input type="submit" value="Delete">
</form>

<p>
<form method="get" action="/cars/edit-price-by-id">
    <label for="id_car_for_edit_price">Изменить стоимость авто с ID </label>
    <input name="id" type="number" id="id_car_for_edit_price" value="0">
    <label for="price_car_for_edit"> на значение </label>
    <input name="price" type="number" id="price_car_for_edit" value="0">
    <input type="submit" value="Изменить">
</form>
<p/>

<a href="/cars/add-maintenance-list">Загрузить шаблон обслуживаня автомобилей</a>

</body>
</html>