<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>Param</th>
        <th>Car info</th>
    </tr>
    <tr th:each="entry:${map}">
        <td th:text="${entry.key}">Param</td>
        <td>
            <table border="1">
                <tr>
                    <td>Id</td>
                    <td>Year</td>
                    <td>Model</td>
                    <td>Volume</td>
                    <td>Transmission</td>
                    <td>Price</td>
                    <td>Body type</td>
                    <td>Vin number</td>
                    <td>Create time</td>
                    <td>Service info</td>
                </tr>
                <tr th:each="car:${entry.value}">
                    <td th:text="${car.id}"></td>
                    <td th:text="${car.year}"></td>
                    <td th:text="${car.model}"></td>
                    <td th:text="${car.volume}"></td>
                    <td th:text="${car.transmission}"></td>
                    <td th:text="${car.price}"></td>
                    <td th:text="${car.bodyType}"></td>
                    <td th:text="${car.vin}"></td>
                    <td th:text="${car.carServiceInfo.getCreationAt()}"></td>
                    <td th:text="${car.carServiceInfo.getInnerCode()}"></td>
                </tr>
            </table>
        </td>
    </tr>

</table>
</body>
</html>